include wfauto/haplotype-calling.b37.resources.json
include wfauto/haplotype-calling.hg38.resources.json
include wfauto/haplotype-calling.params.json
include wfauto/haplotype-calling.wdl
include wfauto/joint-discovery.b37.resources.json
include wfauto/joint-discovery.hg38.resources.json
include wfauto/joint-discovery.params.json
include wfauto/joint-discovery-gatk4-local.wdl